@keyframes logo-transition-on-load {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  25% {
    transform: rotate(30deg);
    opacity: 0.2;
  }

  75% {
    transform: rotate(-30deg);
    opacity: 0.8;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes firstName-TtoB {
  0% {
    transform: translateY(-7rem);
    opacity: 0;
  }
  80% {
    transform: translateY(2rem);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
@keyframes lastName-BtoT {
  0% {
    transform: translateY(7rem);
    opacity: 0;
    border: none;
  }
  80% {
    transform: translateY(-2rem);
    opacity: 0.8;
    border: none;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
    border-top: solid $color-secondary 0.5rem;
  }
}
