/*Universal Selector*/

*,
*::before,
*::after {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 2.5rem;
}
