.u-name-formatting {
  font-weight: bold;
  font-family: "Candal", sans-serif;
  font-size: 6.5rem;
  color: $color-secondary;
  letter-spacing: 4px;
  text-align: center;
  padding: 1.3rem 1rem;
}
